.trending-product {
  
  .row-trending-product {
    margin-bottom: 2rem;

    .col-8 {
      position: relative;

      h1 {
        font-weight: 600;
        color: #fff;
        margin-left: 1rem;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          height: 100%;
          width: .4rem;
          background-color: red;
        }
      }
    }

    .col-4 {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      h3 {
        color: #fff;
        svg {
          width: 20px;
        }
      }
    }
  }

  .row-product-items {

    .col-product-item {
      margin-bottom: 4rem;
      padding: 0 1rem;
      
      .product-item {
  
        .product-item-pic {
          aspect-ratio: 46/65;
          border-radius: .6rem;
          position: relative;

          .ep {
            background-color: red;
            color: #fff;
            width: 5rem;
            border-radius: .4rem;
            position: relative;
            left: 1rem;
            top: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .comment  {
            height: 2.4rem;
            width: 5rem;
            background-color: #3c3d55;
            border-radius: 1rem;
            position: absolute;
            bottom: 1rem;
            left: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-around;

            svg {
              height: 20px;
            }
          }

          .view {
            height: 2.4rem;
            width: 7rem;
            background-color: #3c3d55;
            border-radius: 1rem;
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-around;

            svg {
              height: 20px;
            }
          }
        }

        .product-item-info {
          margin: 2rem 0;

          ul {
            list-style: none;
            display: flex;
            justify-content: flex-start;
            padding: 0;

            li {
              background-color: #3c3d55;
              padding: 2px 8px;
              margin-right: 1rem;
              border-radius: 1rem;
              font-size: 1.2rem;
            }
          }

          h2 {
            cursor: pointer;
          }
        }
      }
    }
  }
}